@import '../scss/variables';
@import '../scss/mixins';

.about__container {
    display: flex;
    max-width: 900px;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative
}

.about__text {
    color: $whiteText2;
    text-wrap: balance;
    text-align: left;
    padding-right: 1rem;
}

span {
    color: $resaltedText;
}

hr {
    visibility: hidden;
}

.photo {
    width: 16rem;
    height: 16rem;
    float: left;
    shape-outside: circle(50%);
    border-radius: 50%;
    border: 0.25rem solid $secondary;
    object-fit: cover;
    object-position: -16px 16px;
    margin-right: 4rem;
    margin-top: 1.38rem;
}

@media (max-width: 912px) {
    .about__container {
        max-width: 600px;
        padding-left: 1rem;
    }

    .photo {
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .about__container {
        max-width: 300px;
    }

    .about__container--mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__text {
        text-align: center;
        text-wrap: balance;
        margin-top: 2rem;
    }

    .photo {
        margin: 0;
    }
}