@import '../scss/variables';
@import '../scss/mixins';

.about__text {
    color: $whiteText2;
    max-width: 900px;
    text-align: justify;
    margin: 0 auto;
}

span {
    color: $resaltedText;
}

@media (max-width: 900px) {
    .about__text {
        padding: 0 4rem;
    }
}