@import '../scss/variables';
@import '../scss/mixins';

.footer__container {
    height: 60px;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;
    box-shadow: 0 -2px 8px $shadow;
    flex-wrap: nowrap;
}

.footer__title {
    margin: 0;
    color: $whiteText2;
    text-shadow: 1px 2px 2px $shadow;
    margin-right: 12px;
}

.icons__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.music__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 680px) {
    .footer__container {
        gap: 1rem;
    }
}

@media (max-width: 475px) {
    .footer__container {
        gap: 1rem;
        height: 82px;
        padding: 10px 0;
        flex-wrap: wrap;
    }
}