@import '../scss/variables';
@import '../scss/mixins';

.form__errors {
    @include form-errors;
    top: 2.375rem;
    right: 11.125rem;
}

.form__errors2 {
    @include form-errors;
    top: -1.75rem;
    right: -1rem;
}

.form__container {
    margin-bottom: 4rem;
}

.form {
    background-color: $primary;
    width: 25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 2rem;
    box-shadow: 3px 3px 6px 4px $shadow;
    border-radius: 10px;
    :focus { border: 1px solid $secondary };
    ::placeholder { color: $whiteText2 };
    input {
        @include form-input;
        background-color: $background;
    }
}

.input__row {
    display: flex;
    margin-bottom: 2rem;
    input {
        width: 50%;
    }
    .input__div {
        width: 1rem;
    }
}

.text-area {
    @include form-input;
    background-color: $background;
    min-height: 5rem;
    width: 23.875rem;
    max-width: 23.875rem;
    min-width: 23.875rem;
    padding-top: 0.5rem;
}

.form__button {
    @include button-primary
}

//This change the autocomplete background-color

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $background inset;
            box-shadow: 0 0 0 1000px $background inset;
    -webkit-text-fill-color: #fefefe;
}