@import '../scss/variables';
@import '../scss/mixins';

.nav {
    background-color: $primary;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px $shadow;
    .logo {
        display: flex;
        margin: 0 0 0 3.75rem;
        color: $secondary;
        font-size: 1.25rem;
        font-weight: 600;
        text-decoration: none;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
    }
    .sections {
        display: flex;
        margin: 0;
        cursor: pointer;
    }
    .icons {
        display: flex;
        margin: 10px 3.75rem 10px 0px;
        cursor: pointer;
    }
    .nav--menu {
        align-items: center;
    }
    .nav--group {
        display: flex;
        align-items: center;
        margin: 0 1rem,
    }
    .nav--button {
        display: flex;
        margin: 0 10px;
        color: $whiteText;
        padding: 3px 8px;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
        font-size: 1rem;
        text-decoration: none;
        &:hover {
            color: $secondary;
            border-color: $secondary;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
    }
    .nav--button__div {
        width: 1px;
        background-color: $whiteText2;
        box-shadow: 3px 3px 4px $shadow;
    }
}

@media (max-width: 800px) {
    .nav {
        .logo {
            margin: 0 0 0 0.65rem;
        }
        .icons {
            margin: 10px 0.5rem 10px 0px;
        }
    }
}

//Menu movile
@media (max-width: 768px) {
    .nav {
        display: none;
    }
}

//Menu movile
@media (min-width: 768px) {
    .nav--menu {
        display: none;
    }
}

@media (max-width: 640px) {
    .nav {
        .logo {
            margin: 0 0 0 0.65rem;
        }
        .icons {
            margin: 10px 0.5rem 10px 0px;
        }
    }
}

