@import '../scss/variables';

.nav {
    background-color: $primary;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);

    .logo {
        display: flex;
        margin: 10px 0px 10px 60px;
        color: $secondary;
        font-size: 1rem;
        font-weight: 600;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
    }

    .sections {
        display: flex;
        margin: 0;
        cursor: pointer;
    }

    .icons {
        display: flex;
        margin: 10px 60px 10px 0px;
        cursor: pointer;
    }

    .nav--icon {
        display: flex;
        align-items: center;
        width: 30px;
        height: auto;
        margin: 0 10px;
        &:hover {
            filter: brightness(0) saturate(100%) invert(57%) sepia(100%) 
                    saturate(980%) hue-rotate(335deg) brightness(100%) contrast(103%);
        }
    }

    .nav--group {
        display: flex;
        align-items: center;
        margin: 0 1rem,
    }

    .nav--darkmode {
        display: flex;
        align-items: center;
    }

    .nav--button {
        display: flex;
        margin: 0 10px;
        border: 1px solid rgba(220, 220, 220, 0.5);
        color: $whiteText;
        padding: 3px 6px;
        border-radius: 4px;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
        font-size: 1rem;
        &:hover {
            color: $secondary;
            border-color: $secondary;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
    }
}