@import '../scss/variables';
@import '../scss/mixins';

.presentation__title {
    text-align: start; 
    h1 {
        font-size: 48px;
        margin: 0;
        color: $secondary;
        text-shadow: 3px 3px 6px $shadow;
    }
    .subtitle {
        margin: 8px 0;
    }
    p {
        color: $whiteText2;
        margin-top: 24px;
    }
    span {
        color: $resaltedText;
    }
}

.presentation__container {
    max-width: 900px;
    margin: 8rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.exodo__off {
    width: 19rem;
    height: auto;
    position: absolute;
    &:hover {
        filter: opacity(0);
    }
}

.exodo__on {
    width: 19rem;
    height: auto;
}