@import '../scss/variables';
@import '../scss/mixins';

.proyect__container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.proyect__title {
    color: $secondary;
    margin-bottom: 8px;
}

.proyect__img {
    width: 15rem;
    justify-content: center;
    height: 10rem;
    border-radius: 5px;
    box-shadow: 4px 4px 8px black;
    filter: sepia(0.8) hue-rotate(346deg);
    transition: none;
    opacity: 0.85; 
    border: 2px solid rgba(0,0,0,0);
    object-fit: cover;
}

.more-proyects {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.button {
    @include button-primary;
    margin-top: 2rem;
}

.proyect__card {
    @include style-proyect;
    max-width: 17rem;
    background-color: $primary;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 6px $shadow;
    border: 1px solid rgba(0,0,0,0);
    &:hover {
        border: 1px solid $secondary;
        transform: scale(1.03);
        .proyect__img {
            filter: none;
            cursor: pointer;
            opacity: 1;
        }
    }
}

.proyect__icon {
    display: flex;
    align-items: center;
    width: 18px;
    height: auto;
    margin: 8px 10px;
    filter: drop-shadow(2px 2px 4px $shadow);
}

.proyect__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    filter: drop-shadow(2px 2px 4px $shadow);
}

.proyect__icons--left {
    display: flex;
}

.proyect__icons--right {
    display: flex;
    align-items: center;
}

.proyect__card--experience {
    @include style-proyect;
    max-width: 28.25rem;
    background-color: $primary;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 6px $shadow;
    border: 1px solid rgba(0,0,0,0);
    &:hover {
        border: 1px solid $secondary;
        transform: scale(1.03);
        .proyect__img {
            filter: none;
            cursor: pointer;
            opacity: 1;
        }
    }
}

.proyect__img--experience {
    width: 21rem;
    height: 14rem;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 4px 4px 8px black;
    filter: sepia(0.8) hue-rotate(346deg);
    transition: none;
    opacity: 0.85; 
    border: 2px solid rgba(0,0,0,0);
    object-fit: cover;
}

@media (max-width: 912px) {
    .proyect__container {
        max-width: 600px;
    }
    .more-proyects {
        max-width: 600px;
    }
    .proyect__img {
        filter: none;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .proyect__container {
        max-width: 300px;
    }
    .more-proyects {
        max-width: 300px;
    }
}

@media (max-width: 400px) {
    .proyect__card--experience {
        width: auto;
        margin: 0 0.2rem;
        max-width: none;
    }
    .proyect__img--experience {
        width: 260px;
        height: 160px;
        filter: none;
    }
}