@import '../scss/variables';
@import '../scss/mixins';

.proyect__container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.proyect__title {
    color: $secondary;
    margin-bottom: 12px;
    margin-top: 0;
    font-size: 1.25rem;
}

.proyect__img {
    width: 15rem;
    justify-content: center;
    height: 10rem;
    border-radius: 5px;
    box-shadow: 4px 4px 8px black;
    filter: sepia(0.8) hue-rotate(346deg);
    transition: none;
    opacity: 0.85;
    border: 2px solid rgba(0, 0, 0, 0);
    object-fit: cover;
}

.proyect__text {
    padding: 5px 5px;
}

.more-proyects {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.button {
    @include button-primary;
    margin-top: 2rem;
}

.proyect__card {
    @include style-proyect;
    padding: 15px 0;
    max-width: 17rem;
    background-color: $primary;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 6px $shadow;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.3s;

    &:hover {
        border: 1px solid $secondary;
        transform: scale(1.03);

        .proyect__img {
            filter: none;
            cursor: pointer;
            opacity: 1;
        }
    }
}

.proyect__icon {
    display: flex;
    align-items: center;
    width: 22px;
    height: auto;
    margin: 8px 8px;
    filter: drop-shadow(2px 2px 4px $shadow);
}

.proyect__icons {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(2px 2px 4px $shadow);
}

.proyect__icons--left {
    display: flex;
}

.proyect__icons--right {
    display: flex;
    align-items: center;
}

@media (max-width: 912px) {
    .proyect__container {
        max-width: 600px;
    }

    .more-proyects {
        max-width: 600px;
    }

    .proyect__img {
        filter: none;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .proyect__container {
        max-width: 300px;
    }

    .more-proyects {
        max-width: 300px;
    }
}