@import '../scss/mixins';
@import '../scss/variables';

.tecnology__container{
    @include container;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    justify-content: center;
    justify-items: start;
    gap: 1rem 2rem;
}

.tecnology {
    min-width: 17rem;
    display: flex;
    align-items: center;
    background-color: $primary;
    border-radius: 10px;
}