@mixin style-proyect {
    margin: 0; 
    background-color: $primary;

    .title {
        color: $secondary;
    }

    .img {
        max-width: 15rem;
        margin: 0.3rem 1.5rem;
        height: auto;
        border-radius: 5px;
        box-shadow: 4px 4px 8px black;
        filter: sepia(0.8) hue-rotate(346deg);
        transition: all ease 0.3s;
        opacity: 0.85;
        &:hover {
            filter: none;
            cursor: pointer;
            opacity: 1;
            transform: scale(1.05);
        }
    }

    .text {
        color: $whiteText2;
        font-size: 0.85rem;
        max-width: 240px;
        margin: auto;
    }
}

@mixin style-proyect__container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $primary;
}

@mixin button-primary {
    background-color: $secondary;
    color: $primary;
    border: none;
    border-radius: 4px;
    width: 10rem;
    height: 1.5rem;
    box-shadow: 2px 2px 5px #000;
    font-weight: 600;

    transition: all ease-in 0.3s;
    cursor: pointer;

    &:hover {
        background-color: hsl(25, 100%, 52%);;
    }
    
    &:active {
        background-color: hsl(25, 100%, 58%);
        box-shadow: none;
    }
}